@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
	background: #041964;
	font-family: 'Montserrat', sans-serif;
	
}

.container{
	text-align: center;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	color: white;
}

h1{
	font-size: 3em;	
}

h3{
	font-size: 1.5em;
}

.buttons{
	height: 40vh;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}

button{
	width: 15vw;
	height: 5vh;
	border-radius: 25%;
	background: #7A0A84;
	cursor:pointer;
}

a{
	color:white;
	text-decoration: none;
	font-size: 1.2em;
}

.images{
	margin-left: -6%;
	margin-top: 5%;
	width: 40vw;
	display:flex;
	justify-content: space-evenly;
}

#team2{
	margin-left: 8%;
	width: 150px;
	height: 240px;
}